doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    header
      block header
    div(class='body')
      block content
    footer
      block footer
