/*
  Category: Divs
*/

.root {
  text-align: center;
}

.basic-paragraph {
  text-align: center;
}

/*
  Category: Headers
*/

.header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

/*
  Category: Footers
*/

.footer {
  text-align: center;
}

/*
  Category: h1, h2, h3, h4, etc.
*/

.title {
  font-size: 1.5em;
}

/*
  Category: Multimedia + Animaitons
*/

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
