/*
  Category: Base
*/

body,
html {
  height: 100%;
  width: 100%;
  margin: 0px;
}

svg {
  height: 36px !important;
  width: 36px !important;
}

button {
  margin-top: 0px !important;
}

p {
margin: 0;
}

a {
  color: #F05F40;
}

a:hover {
  color: #f05f40;
}

.bg-primary {
  background-color: #F05F40 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

/*
  Category: NavigationBar
*/

.navbar {
  width: 100%;
  padding: 0 0 0 0;
  z-index: 1;
  position: fixed;
}

/*
  Category: Divs
*/

.root {
  height: 100%;
  text-align: center;
}

.body {
  box-sizing: border-box;
  -moz-box-siting: border-box;
}

.App {
  height: 100%;
  width: 100%;
}

.page-parent {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.sidebar {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.container-full {
  height: 100%;
  min-height: 100%;
  width: 100%;
  padding-top: 65px;
  box-sizing: border-box;
  justify-content: stretch;
  -moz-box-sizing: border-box;
  -moz-box-align: start;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 0 0 0;
  overflow: auto;
}

.container-form {
  width: -moz-fit-content;
  height: -moz-fit-content;
  margin: auto;
  align-content: center;
}

.container-center {
  width: -moz-fit-content;
  height: 100%;
  margin: 0 auto;
}

.container-output {
  width: 100%;
  height: 100%;
}

.container-formwrap {
  width: fit-content;
  padding: 0 20px 0 20px;
}

.container-outputleft {
  width: 74%;
  height: 100%;
  margin: auto 0;
  float: left;
}

.container-outputright {
  border-left: 1px solid #000;
  width: 25%;
  height: 100%;
  margin: auto 0;
  float: left;
}

.basic-paragraph {
  text-align: center;
}

.welcome-buttons {
  width: -moz-fit-content;
  height: -moz-fit-content;
  margin: auto;
}

.userform {
  display: grid;
}

.authentication-form {
  align-content: center;
  height: fit-content;
}

/*
  Category: Headers and Footers
*/

.header {
  width: 100%;
  padding: 0 0 0 0;
  position: fixed;
}

/*
  Category: Footers
*/

.footer {
  text-align: center;
}

/*
  Category: h1, h2, h3, h4, etc.
*/

.title {
  font-size: 1.5em;
}

/*
  Category: p
*/
.textbox-number {
  height: -moz-fit-content;
  width: 100%;
  margin: auto auto;
  font-size: 10em;
}

.textbox-verse {
  height: 100%;
  width: 100%;
  margin: auto auto;
  font-size: 6em;
}

/*
  Category: Multimedia + Animaitons
*/

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
