/*
  Category: ???
*/
body {
  margin: 0px;
}

/*
  Category: Divs
*/

.root {
  text-align: center;
}

.header {
  align-self: center;
  width: 100%;
  padding: 0 0 0 0;
  margin-bottom: 20px;
}

.body {
  margin-top: 20px;
}

.basic-paragraph {
  text-align: center;
}

.container {
  width: 100%;
  padding: 0 0 0 0;
}



.welcome-buttons {
  display: inline-flex;
  align-content: center;
}
/*
  Category: Headers
*/



/*
  Category: Footers
*/

.footer {
  text-align: center;
}

/*
  Category: h1, h2, h3, h4, etc.
*/

.title {
  font-size: 1.5em;
}

/*
  Category: Multimedia + Animaitons
*/

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
